.text-muted {
  color: var(--text-color-muted);
}

.text-sm {
  font-size: 0.75rem;
}

h1,
h2,
h3,
p {
  margin: 0 0 0.5em 0;
}

.caption-1 {
  font-size: 26px;
  line-height: 1.15;
  margin-bottom: .5rem;
}

.caption-2 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: .5rem;
}
