:root {
  --bg-primary-100: #C9ED62;
  --bg-primary-200: #C3E858;
  --bg-primary-300: #B9DF4C;

  --bg-control-100: #FFFFFF;
  --bg-control-200: #F5F5F5;
  --bg-control-300: #E9E9E9;
  --bg-control-400: #E1E1E1;

  --line-primary-100: #B9DF4C;
  --line-control-100: #CDCDCD;

  --text-color-base: #000000;
  --text-color-inv: #FFFFFF;
  --text-color-secondary: #727272;
  --text-color-muted: #AFAFAF;

  --transparent: transparent;

  --focus-color: rgba(255, 245, 0, 0.3);
}