:root {
  // BG
  --bg-primary-100: #c9ed62;
  --bg-primary-200: #c3e858;
  --bg-primary-300: #b9df4c;

  --bg-danger-100: #ed6262;
  --bg-danger-200: #e85858;
  --bg-danger-300: #df4c4c;

  --bg-control-100: #ffffff;
  --bg-control-200: #f5f5f5;
  --bg-control-300: #e9e9e9;
  --bg-control-400: #e1e1e1;

  --bg-inverted-100: #2d2b2b;

  --bg-backdrop: rgba(0, 0, 0, 0.4);
  --bg-backdrop-blackout: rgba(0, 0, 0, 0.95);

  // LINE
  --line-base-100: #e5e5e5;
  --line-primary-100: #b9df4c;
  --line-control-100: #cdcdcd;
  --line-control-focus: #e1e1e1;

  // TEXT
  --text-color-base: #2a2a2c;
  --text-color-inv: #ffffff;
  --text-color-secondary: #727272;
  --text-color-muted: #afafaf;
  --text-color-inv-primary: #c9ed62;

  // BORDER RADIUS
  --border-radius-control: 4px;
  --border-radius-dropdown: 6px;

  // OTHERS
  --transparent: transparent;

  --focus-color: rgba(255, 245, 0, 0.4);

  --animations-speed: 0.2s;
  --animations-low-speed: 0.5s;

  --zindex-dropdown: 1000;
  --zindex-sticky: 1020;
  --zindex-fixed: 1030;
  --zindex-offcanvas-backdrop: 1040;
  --zindex-offcanvas: 1045;
  --zindex-modal-backdrop: 1050;
  --zindex-modal: 1055;
  --zindex-popover: 1070;
  --zindex-tooltip: 1080;
  --zindex-toast: 1090;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
}
