@import "../../../../styles/mixins-and-variables.scss";

.catalogue-feature {
  display: flex;
  gap: 1rem;
  padding: 0.25rem 0;
  border-bottom: 1px dashed var(--line-base-100);
}
.catalogue-feature-label,
.catalogue-feature-value {
  display: flex;
  gap: 0.5rem;
}
